*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
text {
    font-family: 'Figtree', sans-serif;
    font-family: 'Zilla Slab', serif;
}
h2{
    font-family: 'Zilla Slab', serif;
}
body{
    background-image: url(../multim/prism.png);
}
header{
    background-color:  rgb(15, 7, 15);
}
main{
    padding: 100px;
}
.contenedor{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.headerLogo {
    margin: 20px;
    width: 110px;
    border-radius: 40%;
    border: solid gray;
}
footer{
    background-color: rgb(15, 7, 15);
}
.footerMenu{   
    list-style: none; 
    display: flex;
    justify-content: center;
}
.imgInsta{
    margin: 5px;
    width: 40px;
    border-radius: 50%;
    border: solid rgb(255, 255, 255) ;
}
.imgInsta:hover{
    opacity: 50%;
}
.imgFacebook{
    margin: 5px;
    width: 40px;
    border-radius: 50%;
    border: solid rgb(255, 255, 255) ;
}
.imgFacebook:hover{
    opacity: 50%;
}
ul.contactoFooter{
    list-style: none;
    font-family: 'Zilla Slab', serif;  
    text-align: center;
    padding: 1rem; 
    color: aliceblue;   
}
ul.navLoc{
    width: 0 auto;
    word-wrap: normal;
    display: flex;
    justify-content: center;
}

img.imgLoc{
    border-radius: 45%;
    margin: 15px;
}
.parNos{
    font-family: 'Figtree', sans-serif;
}
.home img{
    margin: 13px 50px;
    width: 50px;
    height: 50px;
    border: solid white;
    border-radius: 50%;
}
.home{
    position: fixed;
    overflow: visible;
    top: 10px;
    left: 5px;
    z-index: 1;
}
.btnLoc:hover{
    background-color: rgb(0, 132, 255);
    color: rgb(255, 255, 255);
}
.fas{
    display: flex;
    justify-content: center;
    
}

